port:
{% raw %}
  tcp:{{port}}:
    listening: true
    ip: "0.0.0.0"
{% endraw %}

process:
{% raw %}
  "{{binary_name}}":
    running: true
{% endraw %}

http:
{% raw %}
  http://localhost:{{port}}/{{health_path}}:
    status: 200
    timeout: 10000
{% endraw %}

file:
{% raw %}
  /usr/local/bin/{{binary_name}}:
    exists: true
    mode: "0755"
{% endraw %}

command:
{% raw %}
  "{{binary_name}} --version":
    exit-status: 0
    stdout:
      - "{{version}}"
{% endraw %}